.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    padding: 25px 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .card-image {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-paragraph {
    margin-bottom: 15px;
    font-size: 13px;
  }
  
  .card-button {
    color: #353333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
  
  .card-button:hover {
    color: #85a7c0;
  }