.propsInputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid rgb(117, 31, 106);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.toggleViz {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}