.headerTitle {
    color: var(--main-color-white);
    background-color: var(--main-color-yellow);
    padding: 5px;
    font-size: .9rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.listContainer1 {
    display: flex;
}

.list {
    font-size: .9rem;
    padding-bottom: 10px;
    color: var(--main-white-color);
}

ul {
    padding-left: 15px !important;
}